/*Fazendo como formulario*/
.task__form { 
  width: 15rem;
  height: 10rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--light-blue);
  overflow: hidden;
  padding: 1rem 1rem 0.2rem 1rem;
  gap: 8px;
}

#dark .task__form {
  background-color: var(--medium-blue);
}

.task__title{
  padding: 0 5px;
  background: none;
  font-size: 20px;
  font-weight: bold;
}

.task__description{
  padding: 5px;
  resize: none;
  height: 4rem;
  background: none;
  word-wrap: wrap;
}
/* .task__date__label{
  font-size: 0.875rem;
}
.task__time {
  background-color: var(--light-gray);
  border-radius: 0.5rem;
  padding: 0 0.5rem;
}

#dark .task__time {
  background-color: var(--dark-gray);
} */

.task__button__add{
  background: none;
  align-self: center;
  cursor: pointer;
  color: var(--dark-blue);
}

/*PARA OS CARDS*/

.task__card { 
  width: 15rem;
  height: 10rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--light-blue);
  padding: 1rem 1rem 0.2rem 1rem;
  gap: 8px;
}

#dark .task__card {
  background-color: var(--medium-blue);
}

.task__card__title{
  color: var(--text);
  padding: 0 5px;
  background: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.task__card__description{
  color: var(--text);
  font-size: 1rem;
  padding: 5px;
  resize: none;
  height: 4rem;
  background: none;
  word-wrap: break-word;
}

.delete, .edit{
  cursor: pointer;
}

