.task__form {
  width: 15rem;
  height: 10rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--light-blue);
  overflow: hidden;
  padding: 1rem 1rem 0.2rem 1rem;
  gap: 8px;
}

#dark .task__form {
  background-color: var(--medium-blue);
}

.task__title {
  height: 70%;
  padding: 8px;
  background: none;
  font-size: 20px;
  outline: none;
  word-wrap: break-word;
  resize: none;
  overflow-y: hidden;
}

.task__button__add {
  background: none;
  align-self: center;
  cursor: pointer;
  color: var(--dark-blue);
  transition: 0.3s;
}

.task__button__add:hover {
  transform: scale(1.05);
}

.task__add__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color__selector {
  -webkit-appearance: none;
  border-radius: 1rem;
  font-size: 14px;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 0;
  transition: 0.2s;
}

.color__selector.--card-blue {
  background-color: var(--card-blue);
}

.color__selector.--card-green {
  background-color: var(--card-green);
}

.color__selector.--card-yellow {
  background-color: var(--card-yellow);
}

.color__selector.--card-pink {
  background-color: var(--card-pink);
}

.color__selector:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.color__selector:focus {
  outline: none;
}