#light {
  background-color: var(--white);
}

#dark {
  background-color: var(--black);
}

.home__body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}